{% extends 'master' %}

{% block content %}
  {% if currentUser %}
    {% else %}
    <h3>Welcome to Popular Posts!</h3>
    <a href="/login">Login</a>

    <a href="/register">Register</a>
  {% endif %}
{% endblock %}
